<mat-card> 
  <mat-card-title> Novo cadastro </mat-card-title>
  <form [formGroup]="form"> 
    <mat-form-field> 
      <input matInput placeholder="Nome" formControlName="name">
      <mat-error *ngIf="applyCssError('name') ">
        Campo inválido!
      </mat-error>
    </mat-form-field>
    <mat-form-field> 
      <input matInput placeholder="Materia" formControlName="materia">
    </mat-form-field>
    <mat-form-field> 
      <input matInput placeholder="Bio" formControlName="bio">
    </mat-form-field> 
    <mat-form-field> 
      <input matInput placeholder="Avatar" formControlName="avatar">
    </mat-form-field>
  </form>
</mat-card>


<button mat-raised-button (click)="createTeacher()" color="primary"> 
  Salvar
 </button>

 <button mat-raised-button (click)="cancel()"> 
    Cancelar
   </button>