.header {
    width: auto;
    height: max-content;
    display: flex;
    align-items: center;
    background-color: rgb(241, 239, 236);
}

.header a {
    display: flex;
    color: rgb(209, 180, 16);
    margin-right: 35px;
    align-items: center;
    text-decoration: none;
}

.header .logo {
    max-height: 100px;
}

.header .title-group {
    padding-left: 20px;
}

.header .title-group i {
    padding-right: 20px;
}