<mat-card class="home mat-elevation-z3">
    <mat-card-title class="title">
         Bem Vindo!   
        </mat-card-title>
    <mat-card-subtitle class="subtitle"> 
        Cadastro de alunos Hogwarts
    </mat-card-subtitle> 
</mat-card> 

<mat-card class="Fraternidade">
    <mat-card-header>
      <div mat-card-avatar class="sonserina"></div>
      <mat-card-title> Casa Slytherin</mat-card-title>
      <mat-card-subtitle>De Salazar Slytherin</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://i.pinimg.com/564x/d9/45/3d/d9453d7f044186e86a0f1e72e1488440.jpg" alt="Sonserina">
    <mat-card-content>
      <p>
        Fundada pelo famoso bruxo Salazar Slytherin que instruiu o Chapéu Seletor a escolher somente alunos que obtivessem algumas de suas características particulares como a astúcia, desenvoltura, liderança e ambição. 
        Ele valorizava e favorecia estudantes de sangue puro. O fantasma patrono da casa é o Barão Sangrento. Tem como membros memoráveis Tom Riddle, Regulus Black, Bellatrix Lestrange e Severus Snape. </p>
    </mat-card-content>  
</mat-card> 
<mat-card class="Fraternidade">
    <mat-card-header>
        <div mat-card-avatar class="grifinolia"></div>
        <mat-card-title> Casa Gryffindor</mat-card-title>
        <mat-card-subtitle> De Godric Gryffindor</mat-card-subtitle>
    </mat-card-header>
      <img mat-card-image src="https://i.pinimg.com/564x/48/0a/64/480a64aa3e9f4eacf9cb863ea9402603.jpg" alt="grifinolia">
    <mat-card-content>
        <p>
         Fundada pelo famoso bruxo da época, o poderoso Godric Gryffindor que instruiu o Chapéu Seletor a escolher alunos que possuíam as características que ele mais valorizava, como coragem, cavalheirismo e determinação para sua casa.
         Sir Nicholas de Mimsy-Porpington, também conhecido como "Nick Quase sem Cabeça" é o fantasma da Casa. Esta é a casa de Harry Potter, Hermione, Ron Weasley e Ginny Weasley e Neville Longbottom.
        </p>
    </mat-card-content> 
</mat-card>
<mat-card class="Fraternidade">
    <mat-card-header>
        <div mat-card-avatar class="lufa-lufa"></div>
        <mat-card-title> Casa Hufflepuff</mat-card-title>
        <mat-card-subtitle> De Helga Hufflepuff</mat-card-subtitle>
    </mat-card-header>
        <img mat-card-image src="https://i.pinimg.com/564x/8e/56/0e/8e560e87d48668dd79d99843de5e9238.jpg" alt="lufa-lufa">
    <mat-card-content>
        <p>
        Fundada pelo bruxa Helga Hufflepuff a casa ficou conhecida como a mais inclusiva entre as quatro, valorizando o trabalho árduo, a dedicação, a paciência, a lealdade e o jogo limpo! Os alunos demonstram qualidades excepcionais em Herbologia devido à sua correspondência com a Terra. Frei Gorducho é o fantasma da Casa. Tem como alunos marcantes Cedric Diggory (assasinado no Torneio Tribruxo), Nymphadora Tonks, Netw Escamander e a professora de Hogwarts Pomona Sprout.
        </p>
    </mat-card-content> 
</mat-card>
<mat-card class="Fraternidade">
    <mat-card-header>
        <div mat-card-avatar class="corvinal"></div>
        <mat-card-title>Casa Ravenclaw</mat-card-title>
        <mat-card-subtitle>De Rowena Ravenclaw</mat-card-subtitle>
    </mat-card-header>
        <img mat-card-image src="https://i.pinimg.com/originals/29/3d/3c/293d3cb2a642afc6d1641463f8a0bdb7.jpg" alt="corvinal">
    <mat-card-content>
        <p>
        Fundada pela bruxa Rowena Revenclaw, os membros desta casa são caracterizados por sua inteligência, sagacidade, criatividade e sabedoria. 
        O fantasma da casa é a Dama Cinzenta (Helena Ravenclaw,f ilha de Rowena Ravenclaw). Tem como membros mais famosos Luna Lovegood, Cho-Chang e Padma Patil . 
        </p>
    </mat-card-content>
</mat-card>