.home .title{
    font-size: 3rem;
    font-weight: 100;
    line-height: 1.2;
}

.home .subtitle {
    font-size: 1.1rem;
   color: rgb(209, 180, 16);
}

.Fraternidade {
    margin: 5px;
    max-width: 220px; 
    float: left;
  }