
.sidenav{
    background-color: rgb(241, 239, 236);
    width: auto;
    position: fixed;
    top: 100px !important;
    bottom: auto;
}

.sidenav a{
    color: rgb(209, 180, 16);
}

.sidenav i{
    padding-right: 10px;
}

.content{ 
  padding: 16px;
}
